packages:
    yum:
        blackfire-agent: []
        blackfire-php: []
files:
    "/opt/elasticbeanstalk/hooks/appdeploy/enact/90_blackfire_setup.sh":
        mode: "000755"
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars
            sudo sed -i "s/server-token=.*/server-token=${BLACKFIRE_SERVER_TOKEN}/" /etc/blackfire/agent
            sudo sed -i "s/server-id=.*/server-id=${BLACKFIRE_SERVER_ID}/" /etc/blackfire/agent
            sudo /etc/init.d/blackfire-agent restart
