files:
    "/etc/php-7.0.d/project.ini" :
        mode: "000644"
        owner: root
        group: root
        # I upped some limits, when I had trouble with huge pre-loaded forms
        content: |
            memory_limit = 512M
            max_input_vars = 2000

    "/etc/php-7.0.d/10-opcache.ini"
        mode: "000644"

        # https://symfony.com/doc/current/performance.html#optimizing-all-the-files-used-by-symfony
        content: |
            opcache.max_accelerated_files=20000

  packages:
      yum:
          # Sometimes needed this for assets unzipping, delete if you don’t need it
          php70-zip: []
