commands:
    01_update_composer:
        command: "export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update"
container_commands:
    210_migrate:
        command: "php bin/console doctrine:migrations:migrate"
    220_clear_cache:
        command: "php bin/console cache:clear --env=prod --no-debug --no-warmup"

    # https://symfony.com/doc/current/performance.html#use-composer-s-class-map-functionality
    300_composer_dump_autoload:
        command: "/usr/bin/composer.phar dump-autoload --optimize --no-dev --classmap-authoritative"


    # Not sure if this is always the best way, but other ways had resulted in problems
    # Check out https://symfony.com/doc/current/setup/file_permissions.html for more infos
    300-cache:
        command: "chmod -R 0777 var/cache"
    310-logs:
        command: "chmod -R 0777 var/logs"
    320-cache:
        command: "chown -R webapp:webapp var/cache"
    330-logs:
        command: "chown -R webapp:webapp var/logs"

option_settings:
    - namespace: "aws:elasticbeanstalk:application:environment"
      option_name: COMPOSER_HOME
      value: "/root"

    # If you want to use Blackfire
    - namespace: "aws:elasticbeanstalk:application:environment"
      option_name: BLACKFIRE_SERVER_TOKEN
      value: "blackfire-server-token"
    - namespace: "aws:elasticbeanstalk:application:environment"
      option_name: BLACKFIRE_SERVER_ID
      value: "blackfire-server-token"
